<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>New Post Created</h1>
    <p>Title: <%= @post.title %></p>
    <p>Description: <%= @post.description %></p>
    <p>Post Type: <%= @post.post_type %></p>

    <% if @post.image.attached? %>
      <%= image_tag attachments.inline['post_image.png'].url, height: '200' %>
    <% else %>
      'No image attached'
    <% end %>
  </body>
</html>
