<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, host: '51f8-2405-201-3027-e801-7d9-5663-9c36-1b56.ngrok-free.app') %></p>
