<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token, host: '0364-2405-201-3027-e801-1fc6-23d4-8969-650b.ngrok-free.app') %></p>
